/*@font-face{
	font-family: "LatoB";
	src: url(../fonts/Lato-Bold.ttf);
}
*/
html { overflow-y: scroll;
 }

body{
	background-image: url(../images/background.png) ;
	background-size: cover;
	background-repeat: no-repeat
}
	
.logo{
	width: 200px;
	position: static;
	margin-left: 100px;
	margin-top: 40px;

   
}